/* Container */
.mood-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Card */
.camera-card {
  background: #181818;
  padding: 24px;
  border-radius: 12px;
  width: 420px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.camera-card:hover {
  background: #202020;
}

/* Title */
.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}

/* Video */
.user-video-feed {
  width: 100%;
  border-radius: 8px;
  background: #000;
}

/* Button */
.detect-btn {
  margin-top: 16px;
  width: 100%;
  padding: 12px 0;
  border-radius: 24px;
  border: none;
  background: #1db954;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.detect-btn:hover {
  transform: scale(1.04);
  background: #1ed760;
}

.detect-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Mood & Error */
.mood-text {
  margin-top: 12px;
  font-size: 14px;
  color: #1db954;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;
  text-align: center;
}

.error-text {
  margin-top: 10px;
  font-size: 13px;
  color: #f15e6c;
}
